body {
    background: white;
    color: #444;
    font-family: "Helvetica Neue", Arial, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.header h1 {
    font-size: 4rem;
    font-weight: 100;
}

.header h2 {
    font-size: 2.1rem;
    font-weight: 100;
    margin: 5px 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.header:before {
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    content: ' ';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.header * {
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 10px black;
}

.header {
    align-items: center;
    background-color: #0E6A99;
    background-image: url(images/chalkboard.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-top: 4px solid #E74C3C;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: center;
    min-height: 250px;
    padding: 0 20px;
    position: relative;
    text-align: center;
}

.skills {
    background: #E74C3C;
    color: white;
}

.content-wrapper {
    line-height: 1.4;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 25px;
}

a {
    color: #3498DB;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 3px solid #3498DB;
    padding: 3px;
}

.image-links{
    border: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
